<h1>My Profile</h1>
Name: <%=@author.name%><br>
username: <%=@author.username%><br>
password: <%=@author.password%><br>
E-mail: <%=@author.email%><br><br>

<a href="/"><button>Go Back </button></a>&nbsp&nbsp&nbsp
<button>Edit</button>
