<h1>Create a new book</h1>

<form method="post" action="/books">
<label>Title: </label><input type="text" name="book_title" /><br><br>
<label>Summary: </label><input type="text" name="book_summary" /><br><br>
<label>Category: </label>&nbsp&nbsp
<%Category.all.each do |cat|%>
<label><%=cat.name%></label><input type="checkbox" name="category_id" value="<%=cat.id%>"/>&nbsp&nbsp
<%end%><br><br>
<label>Content: </label><input type="text" name="book_content" /><br><br>
<input type="submit" value="Submit"/>
</form>
<a href="/books">
  <button>Cancel</button>
</a>
